<!DOCTYPE html>
{%load blogtags%}
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/blogbases.css" %}">
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <div class="content">
      {%block content%}{%endblock%}

    </div>
    <div class="sidebar">
      <h1 class='blink'>Blog updates</h1>
      <p>Total Posts Published : {{totalposts}}</p><br><br><br>
      <p>Most Recent Posts :</p>
      <br><br><br>
      <p>Higest Commented Posts : </p>
    </div>

  </body>
</html>
